.elementExample {
	width: 200px;
	height: 200px;
	line-height: 200px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
  }
  .elementExample_first {
	background-color: #8E44AD;
	float: left;

  }
  .elementExample_last {
	background-color: #C0392B;
	float: left;
  }
  