<h1>FROM EVENT OBSERVABLE</h1>
<label for="stockSymbol">Enter Stock:</label>
<!-- <input type="text" id="stockSymbol" placeholder="enter stock" #stockSymbol>
 -->
 <input type="text" id="stockSymbol" placeholder="enter stock" [formControl]='stockSymbol'>

