@font-face {
	font-family: 'myfont';
	src: url('/fonts/GistLight.otf') format(truetype);
	font-weight: normal;
	font-style: normal;
}

html, body {
	padding: 0px;
	margin: 0px;
}

.titulo {
	h1 {
		font-family: 'myfont';
		color: red;
	}
}

