/*RESET
-------------------------------*/
*,*:before,*:after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-size: inherit;
}

input, select,iframe,button{
    border: none;
    font-family: 'Open Sans',sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ol,ul {
    list-style: none; /*retirar a bola*/
}

a{
    text-decoration: none; /*retirar a linha*/
    color: inherit;
    transition: all .4s ease-in-out;
}

a:hover{
    color: #f9014d;
}
img{
    max-width: 100%;
    border: none;
}

/*GERAIS
-------------------------------*/
.section{
    float: left;
    width: 100%;
    
}

.section:not(:first-of-type) {
    margin-top: 60px;
}

.section-header{
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}
.section-header h1{
    font-size: 38px;
    font-weight: normal;
}

.content{
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.row{
    float: left;
    width: 100%;
}

/*load-more
-------------------------------*/

.load-more{
    background: #FFF;
    margin-bottom: 100px;
    border: 1px solid #CCC;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
}

.load-more:hover{
    color: #a70606;
    border: 1px solid #a70606;
    
}

/*BOX
-------------------------------*/
.box{
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    -webkit-boder-raduis:10px;
    

}

.box-name{
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #FFF;
    background: #f9014d;
    border-radius: 5px;
    -webkit-boder-raduis:5px;
    padding: 5px 10px;
}
.box-cover{
    font-size: 0;
    line-height: 1em;
}

.box-cover img{
    width: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);   
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; 
}

.box-detalhes{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #FFF;
    font-size: 15px;
}

.box-detalhes::before{
    content: "";
    position: absolute;
    z-index: 1;
    top:-20px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    visibility: hidden;
    background: linear-gradient(to bottom,transparent,#000);

    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; 
    -webkit-transform: translate(0,50%);
    transform: translate(0,50%);

}

.box-detalhes-info{
    position: relative;
    z-index: 2;
    
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; 
    -webkit-transform: translate(0,50%);
    transform: translate(0,50%);
    opacity: 0;
    visibility: hidden;
}

.box-detalhes-info h1{
    font-size: 20px;
}
.box:hover .box-cover img{
    -webkit-transform: scale(1);
    transform: scale(1);    
}


.box:hover .box-detalhes:before,
.box:hover .box-detalhes-info{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}



/*HEADER
-------------------------------*/
.header{
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 6;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header .logo img{
    max-width: 150px;
}
.header.fixed{
    background: #2c3e50;
    padding: 10px 0px 5px 0;
}



/*SEARCH E ESTATISTICA
-------------------------------*/
.search-box{
    background-image: url('../images/bg-search.jpg');    
    text-align: center;
    color: #FFF;
    padding: 100px 0;
}

.search-box h1{
    font-size: 37px;
    font-weight: bold;
}

.search-box .tagline {
    font-size: 26px;
}

.search-box form{
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 500px;
    margin-top: 40px;
}

.search-box form input[type="search"]{
width: 100%;
height: 50px;
font-size: inherit;
color: #2c3e50;
border-radius: 6px;
-webkit-border-radius: 6px;
padding: 0 70px 0 10px;
}
.search-box form button{
    background: #a70606;
    position: absolute;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

/*ESTATISTICA
-------------------------------*/
.estatisticas{
    background: #FFF;
    max-width: 960px;
    width: 90%;
    padding: 30px 0;
    margin: -40px auto 0 auto;
    text-align: center;


    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);

    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.estatisticas-item span{
    font-size: 33px;
    font-weight: bold;
}

.estatisticas-item p{
    font-size: 20px;
}

/*DESTINOS
-------------------------------*/
.destinos-col{
    margin-bottom: 20px;
}

/*PARALLAX
-------------------------------*/
.parallax{
    float: left;
    width: 100%;
    text-align: center;    
    color: #FFF;    
    font-size: 23px;
    padding: 160px 0;
    margin-top: 60px;
    background-image: url('../images/bg-paralax.jpg');   
}

.parallax h1{
font-size: 38px;
margin-bottom: 10px;
}

.parallax button{
    background: #f9014d;
    font-size: 20px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: all .4s ease-in-out;

}

.parallax button:hover{
background: #e92863;

}

/*Destaques
-------------------------------*/
.destaques-col{
    margin-bottom: 20px;
}


/*Testemunhas
---------------------------*/
.testemunhas{
    padding: 100px 0;
    margin-top: 60px;
    background-image: url('../images/bg-testemunhas.jpg');    
}

.testemunhas-article{
    float: left;
    background: rgba(255,255,255,.7);
    width: 100%;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.testemunhas-article h1{
font-size: 16px;
font-weight: normal;
margin-bottom: 20px;
border-left: 8px solid #ccc;
padding-left: 12px;
}

.testemunhas-article .image{
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 83px;
    height: 83px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.testemunhas-article p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 83px;
}

.testemunhas-article p .name{
    color: #a70606;
    font-weight: bold;

}

/*FOOTER
-----------------------------*/
.footer{
    background: #181818;
    float: left;
    width: 100%;
    color: white;
    padding: 30px 0;
}

.footer-col{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.footer-col h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


.footer-col .footer-col-links li{
    padding: 10px 0;
}

.footer-col .footer-col-links li:not(:last-of-type){
    border-bottom: 1px solid #FFF;
}

.footer-col-social li{
padding: 10px 0;
}

.footer-col-social li .fab{
    background: #000;
    font-size: 20px;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.footer-autorais{
    padding-top: 20px;
    border-top: 1px solid #fff;
    color: #CCC;
}


/*BREAKPOINT MÁXIMOS
-------------------------------*/
@media(max-width:767.9px)
{
    /*menu*/
    .nav-toggle{
        color: #FFF;
        font-size: 22px;
    }

    .nav-close{
        font-size: 22px;
    }

    .header .nav.active
    {
        right: 0;
    }
    .header .nav{
        background: #FFF;
        width: 250px;
        height: 100%;
        position: fixed;
        padding: 15px;
        right: -100%;
        top: 0;
        z-index: 10;
        transition: right .7s ease-in-out;
    }

    

    .header .nav ul li {
        padding: 15px 5px;
        font-size: 20px;
        border-bottom: 1px solid #CCC
    }


    .estatisticas{
        flex-direction: column;

    } 
    
    .estatisticas-item{
        min-width: 90%;
       
    }

    .estatisticas-item:not(:last-of-type){
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc
    }
}

/*BREAKPOINT MINIMOS
-------------------------------*/
@media(min-width:768px)
{
/*MENU*/
    .nav-close, .nav-toggle{
        display: none;
    }

    .header .nav{
        float: right;
        margin-top: 13px;

    }

    .header .nav ul li{
        display: inline-block;
        margin-left: 20px;
    }

    .header .nav ul li a{
        color: #FFF;
    }
    
    .header .nav ul li a:hover{
        color: #F9014d;
    }

    

    .search-box{
        
        padding: 200px 0;
    }

    .estatisticas{
        margin-top: -65px;
    } 
    .estatisticas-item{

        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;       
    }
    .estatisticas-item:not(:last-of-type){
        border-right: 1px solid #ccc
    }

    .destinos-col{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .destinos-col:nth-child(odd){ /*even -> pares .... odd-> impares*/
        margin-right: 0%;
    }
    .destinos-col:first-child{ /*even -> pares .... odd-> impares*/
        width: 100%;
    }


    /*Destaques
    -------------------------------*/
    .destaques-col{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .destaques-col:nth-last-of-type(2n+0){
        margin-right: 0%;
    }

    /*Testemunhas
    -------------------------------*/
    .testemunhas-article{
        
        width: calc((100% - 8%)/3);
        margin-right: 4%;
        margin-bottom: 4%;
    }

    .testemunhas-article:last-of-type{
        margin-right: 0;
    }

    /*Footer
    -------------------------------*/
    .footer-col{
        width: 45%;
    }
    .footer-col:nth-child(2){
        width: 30%;
        margin-left: 5%;
    }
    .footer-col:nth-child(3){
        width: 15%;
        float: right;
    }
}

@media(min-width:900px)
{
    .destinos-col:nth-child(odd),
    .destinos-col{
        width: 32%;
        margin-right: 2%;
    }
    .destinos-col:nth-of-type(3n+2){ /*even -> pares .... odd-> impares*/
        margin-right: 0%;
    }

    .destinos-col:first-child{ /*even -> pares .... odd-> impares*/
        width: 66%;
    }
    
}


/*AUXILIARES
--------------------------------------*/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.fl-left{
float: left;
}

.fl-right{
    float: right;
}

.bg-fixed{
    background-size: cover; /*ajusta a imagem dentro do container*/
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}